<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>[SUBJECT]</title>
  

<script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"f6f6f6",
    "link":"ffffff",
    "color":"99A1A6",
    "bgItem":"2C94E0",
    "title":"444444"
  }
</script>

</head>
<%-body %>
</body>
  </html>
