<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4" style="padding-top: 0 !important; padding-bottom: 0 !important; width: 100% !important; -webkit-text-size-adjust: 100% !important; -ms-text-size-adjust: 100% !important; -webkit-font-smoothing: antialiased !important; background-repeat: repeat; margin: 0;" offset="0" toppadding="0" leftpadding="0">
	  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center" style="font-family: Helvetica, Arial,serif; background-color: #f6f6f6;" bgcolor="#f6f6f6">
  
    <!-- =============================== Header ====================================== -->

  <tr>
    <td class='movableContentContainer' >
    	<div class="movableContent" style="padding-top: 0px; position: relative; margin: 0; border: 0px;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                   <tr><td height='25'  colspan='3'></td></tr>

                    <tr>
                      <td valign='top'  colspan='3'>
                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class="MainContainer">
                          <tr>
                            <td align='left' valign='middle' width="200">
                              <div class="contentEditableContainer contentImageEditable" style="margin: 0;">
                                <div class="contentEditable" style="margin: 0;">
                                  <img src="http://www.nutrimarketing.eu/images/front/LOGORD2.png" alt="Compagnie logo" data-default="placeholder" data-max-width="300" width="118" height="21" style="display: block !important; outline: none !important; border: 0;" />
                                </div>
                              </div>
                            </td>

                          </tr>
                        </table>
                      </td>
                    </tr>
                </table>
        </div>
        <div class="movableContent" style="padding-top: 0px; position: relative; margin: 0; border: 0px;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr><td height='25'  ></td></tr>

                        <tr>
                          <td height="290" class="bgItem" style="background-color: #008080;" bgcolor="#008080">
                            <table align="center" width="600" border="0" cellspacing="0" cellpadding="0" class="MainContainer">
  <tr>
    <td height='50'></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width='326' valign="top" class="specbundle2">
                                  <div class="contentEditableContainer contentImageEditable" style="margin: 0;">
                                    <div class="contentEditable" style="margin: 0;">
                                      <img class="banner" src="https://googledrive.com/host/0B8R_GBkDF17_Mi1HR0EwYnFnYjA/MADMInmacbook.png" alt="featured image" data-default="placeholder" data-max-width="300" width="326" height="269" style="display: block !important; outline: none !important; border: 0;" />
                                    </div>
                                  </div>
                                </td>
    <td class="specbundle3">&nbsp;</td>
    <td width='250' valign='top' class="specbundle4">
                                  <table width="250" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr><td colspan='3' height='10'></td></tr>

                                    <tr>
                                      <td width='10'></td>
                                      <td width='230' valign='top'>
                                        <table width="230" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                          <tr>
                                            <td valign='top'>
                                              <div class="contentEditableContainer contentTextEditable" style="margin: 0;">
                                                <div class="contentEditable" style="margin: 0;">
                                                  <h1 style="font-size: 24px; font-weight: normal; color: #ffffff; line-height: 24px; margin: 0;"><%- data.company %></h1>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                          <tr><td height='18'></td></tr>
                                          <tr>
                                            <td valign='top'>
                                              <div class="contentEditableContainer contentTextEditable" style="margin: 0;">
                                                <div class="contentEditable" style="margin: 0;">
                                                  <p style="font-size: 13px; color: #cfeafa; line-height: 19px; margin: 0;">Administrez votre site web de façons simple et ludique</p>
                                                </div>
                                              </div>
                                            </td>
                                          </tr>
                                          <tr><td height='33'></td></tr>
                                          <!-- <tr>
                                            <td>
                                              <div class="contentEditableContainer contentTextEditable">
                                                <div class="contentEditable" >
                                                  <a target='_blank' href="#" style='padding:15px;font-size:13px;text-decoration:none;background:#1C80C9;color:#E5F5FF;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;'>Learn more, noob</a>
                                                </div>
                                              </div>
                                            </td> -->
                                          </tr>
                                          <tr><td height='15'></td></tr>
                                        </table>
                                      </td>
                                      <td width='10'></td>
                                    </tr>
                                  </table>
                                </td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

                          </td>
                        </tr>

                        <tr><td height='25' ></td></tr>
                </table>
        </div>
        <div class="movableContent" style="padding-top: 0px; position: relative; margin: 0; border: 0px;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
                <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class="MainContainer">
                  <tr><td colspan='3' height='25'></td></tr>
                  <tr>
                    <td width='50'></td>
                    <td width='500'>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                        <tr>
                          <td align='center'>
                            <div class="contentEditableContainer contentTextEditable" style="margin: 0;">
                              <div class="contentEditable" style="margin: 0;">
                                <h1 style="font-size: 32px; color: #444444; font-weight: normal; margin: 0;">Nouveau compte
                                  <% if(data.role == "admin"){%> Administrateur<%}%>
                                </h1>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr><td height='20'></td></tr>
                        <tr>
                          <td align='center'>
                            <div class="contentEditableContainer contentTextEditable" style="margin: 0;">
                             <div class="contentEditable" style="margin: 0;">
                              <p style="color: #99A1A6; font-size: 13px; line-height: 19px; margin: 0;">Votre compte<% if(data.role == "admin"){%> Administrateur<%}%> est bientôt finalisé, il ne vous reste plus qu'à choisir un mot de passe.
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='50'></td>
                </tr>
                <tr><td colspan='3' height='45'></td></tr>
              </table>
              </td></tr></table>
        </div>
        
        <div class="movableContent" style="padding-top: 0px; position: relative; margin: 0; border: 0px;">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
              <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class="MainContainer">
                <tr><td colspan='3' height='10'></td></tr>
                <tr>
                  <td width='50'></td>
                  <td width='500'>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                      <tr>
                        <td align='center'>
                          <div class="contentEditableContainer contentTextEditable" style="margin: 0;">
                            <div class="contentEditable" style="margin: 0;">
                              <a target="_blank" href="<%- data.link %>" class="link2" style="color: #ffffff; font-size: 13px; text-decoration: none; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: #008080; padding: 15px;">Choisir un mot de passe
                              </a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='50'></td>
                </tr>
                <tr><td colspan='3' height='45'></td></tr>
              </table>
              </td></tr></table>
        </div>
        
    </td>
  </tr>
</table>


  
<style type="text/css">
body { padding-top: 0 !important; padding-bottom: 0 !important; margin: 0 !important; width: 100% !important; -webkit-text-size-adjust: 100% !important; -ms-text-size-adjust: 100% !important; -webkit-font-smoothing: antialiased !important; }
</style>